.footer{
    background-color: #0b2931;
    color: aliceblue;
   justify-content: space-between;
}

.form-control{
    width: 500px;
}
.mb-3{
    padding-left: 20px;
}
form{
    padding: 30px;
}
.formulaire{
    display: inline-block;
    padding-left: 50px;
    background-color: #a19ea1;
    border-radius: 8px;
    width: 49%;
   align-items: center;
}
.container-fluid{
 background-color: #176152;
}

.histoire{
    display: inline-flex;
    padding-left: 40px;
    padding-right: 0px;
    text-align: justify;
}

.histoire2{
    display: inline-flex;
    padding-left: 40px;
    padding-top: 28px;
    text-align: justify;
}

.histoire2 , p{
    padding: 28px;
}
.box1_animaux{
    display: flex;
}
.iframe1{
    padding-left: 35%;
    padding-top: 2%;
}